@media(max-width: 500px) {
    .container {
        max-width: 300px;
    }


    #navigation {
        .navigation {
            &-hamburger {
                font-size: .8rem;
            }

            &-logo-text {
                font-size: 1.7rem;
            }
        }
    }

    #hero {
        .hero {
            &-title {
                font-size: 3rem;
            }

            &-message {
                font-size: .9rem;
            }

            &-pointer {
                font-size: 3rem;
            }

            &-game {
                &-question {
                    font-size: 1rem;
                }

                &-title {
                    font-size: 1.3rem;
                }

                &-content {
                    font-size: .9rem;
                }

                #hero-game-options {
                    font-size: .8rem;
                }
            }
        }
    }

    #about-me {
        .about-me {
            .loader {
                width: 40px;
                height: 40px;
            }

            &-content {
                .about-me-title {
                    font-size: 2.5rem;
                }

                .about-me-message {
                    font-size: 1.1rem;
                }
            }

            &-img {
                width: 180px;
                height: 180px;
            }
        }
    }

    #projects {
        .project-content {
            &-title {
                font-size: 2rem;
            }

            &-message {
                font-size: 1rem;
            }
        }

        .projects-works {
            .project {
                &-img {
                    width: 200px;
                    height: 200px;
                }

                .project-inner {
                    &-text {
                        font-size: .8rem;
                    }

                    .btn-view-project {
                        font-size: .7rem;
                    }
                }
            }
        }
    }

    #video-projects {
        .video-projects-content {
            &-title {
                font-size: 2rem;
            }

            &-message {
                font-size: 1rem;
            }

            .masha {
                font-size: 1.2rem;
            }
        }

        .slider {
            margin-top: 3rem;

            iframe {
                width: 250px;
                height: 150px;
            }

            .slider__btn {
                height: 2rem;
                width: 2rem;
            }
        }
    }

    #testimonials {
        .testimonials-content {
            &-title {
                font-size: 2rem;
            }

            &-message {
                font-size: 1rem;
            }
        }

        .testimonials {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;


            &-card {
                padding: 1rem;
                line-height: 1.3;

                &-message {
                    font-size: 1rem;
                }
            }
        }
    }

    #contact {
        .contact {
            .contact-content {
                &-title {
                    font-size: 2rem;
                }

                &-message {
                    font-size: 1rem;
                }
            }

            .contact-site {
                margin-top: 2rem;

                .contact-sites {
                    font-size: 1rem;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-evenly;
                }
            }
        }
    }

    #footer {
        .footer {
            padding: 0 1.4rem;

            .clock {
                font-size: 1rem;
            }

            .footer-text {
                font-size: .9rem;

                .copyright {
                    font-size: 1.1rem;
                }
            }
        }
    }

}