@media(max-width: 1200px) {
    .container {
        max-width: 768px;
    }


    // Navigation
    #navigation {
        .navigation {

            &-hamburger {
                display: block;
            }

            .nav {
                display: none;
                position: absolute;
                top: 3.1rem;
                width: 100%;
                right: 0;
                z-index: 1;

                .navigation-list {
                    display: flex;
                    flex-direction: column;
                    text-align: center;

                    &-li {
                        padding: 1rem 0;
                        border-bottom: 1px solid $gold-color;
                        background-color: $primary-color;
                        opacity: .9;

                    }
                }
            }
        }
    }

    //Hero 

    #hero {
        .hero {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            // margin-top: 3rem;
            margin: 3rem 0;

            &-content {
                width: 100%;
            }

            &-game {
                margin-top: 1rem;
            }
        }
    }


    //About

    #about-me {
        // min-height: 200vh;


        .about-me {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;

            .loader {
                width: 50px;
                height: 50px;
                margin: 5rem 0;
            }

            &-content {
                width: 100%;
                text-align: center;
            }
        }
    }

    //Projects

    #projects {
        .projects-works {
            margin: 1rem 0;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    //Video projects

    #video-projects {
        .slider {
            iframe {
                width: 450px;
                height: 280px;
            }

            .slider__btn {
                width: 2rem;
                height: 2rem;
                font-size: 1.2rem;

                &--left {
                    left: 15%;
                }

                &--right {
                    right: 15%;
                }
            }
        }
    }

    // Testimonials

    #testimonials {
        .testimonials {
            display: flex;
            flex-direction: column;
        }
    }

    // Contact

    #contact {

        .contact {

            .contact-site {
                .contact-sites {
                    font-size: 1.3rem;
                }
            }
        }
    }

    #footer {
        .footer {
            .clock {
                font-size: 1.2rem;
            }

            .footer-text {
                font-size: .9rem;

                .copyright {
                    font-size: 1.2rem;
                }
            }
        }
    }
}